<% layout('layouts/boilerplate')%>

    <div class="text-center justify-content-center">

        <link rel="stylesheet" href="js/dropzone/dropzone.min.css">
        <script src="js/dropzone/dropzone.min.js"></script>
        <form action="/duplicities" method="post" enctype="multipart/form-data" class="dropzone"
            accept=".csv,.xls,.xlsx">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
        <div class="d-grid gap-3">
            <a href="/<%= functionType %>/stepTwo"><button type="button" class=" p-2 border btn btn-primary">Další krok</button></a>
        </div>

    </div>