.center-div{
    ul{
        list-style: none;
        padding-bottom: 20px;
        li{
            margin-bottom: 3px;
        }
    }
    .card{
        background-color: Black;
    }
        a{
            text-decoration: none;
            font-weight: bolder;
            color: white;
            margin: auto;
            &:hover{
                text-decoration: underline;
                color: rgb(204, 204, 204);
            }
        }
    
}

