<% layout('layouts/boilerplate') %>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <a href="/logic" class="card-link">
            <div class="card">
            <img src="/images/logic.png" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Logické operace</h5>
            <p class="card-text">Sofistikovanější funkce</p>
            </div>
        </div>
    </a>
    </div>
    <div class="col">
        <a href="/duplicity" class="card-link">
            <div class="card">
                <img src="/images/duplicity.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Duplicity</h5>
                <p class="card-text">Práce s duplicitními záznamy</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/format" class="card-link">
            <div class="card">
                <img src="/images/exchange.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Změna formátu</h5>
                <p class="card-text">Převod datumů, desetiných čárek z anglického formátu do českého a naopak...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/sculpture" class="card-link">
            <div class="card">
                <img src="/images/sculpture.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Opracování</h5>
                <p class="card-text">Odstraní prázdných sloupců, řádků....</p>
                </div>
            </div>
        </a>
    </div>
  </div>