<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">

                <div class="card-body">
                    <h5 class="card-title">Změna hesla</h5>
                    <form action="/users" method="POST" class="validated-form" novalidate>
                        <% if (user.verifyCode){ %>

                            <% }else{ %>
                                <div class="mb-3">
                                    <label class="form-label" for="password-old">Staré heslo</label>
                                    <input class="form-control" type="password" id="password-old" name="password-old"
                                        required>
                                </div>
                                <% } %>

                                    <div class="mb-3">
                                        <label class="form-label" for="password">Heslo</label>
                                        <input class="form-control" type="password" id="password" name="password"
                                            required>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="password2">Opakujte Heslo</label>
                                        <input class="form-control" type="password" id="password2" name="password2"
                                            required>
                                    </div>


                                    <button class="btn btn-success btn-block">Změnit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <script src="/js/formValidation.js"></script>