<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">

                <div class="card-body">
                    <h5 class="card-title">Změna hesla</h5>

                    <% if (user.verifyCode){ %>
                        <form action="/users/forgot/<%= user.verifyCode %>" method="POST" class="validated-form" novalidate>
                    <% }else{ %>
                        <form action="/users/newpassword" method="POST" class="validated-form" novalidate>
                    <% } %>
                        <% if (user.verifyCode){ %>
                            <% }else{ %>
                                <div class="mb-3">
                                    <label class="form-label" for="password">Staré heslo</label>
                                    <input class="form-control" type="password" id="oldPassword" name="password"
                                        required>
                                    <input class="form-control" type="hidden" value="<%= user.username %> " name="username">
                                </div>
                                <% } %>

                                    <div class="mb-3">
                                        <label class="form-label" for="password1">Heslo</label>
                                        <input class="form-control" type="password" id="password1" name="password1"
                                            required>

                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="password2">Opakujte Heslo</label>
                                        <input class="form-control" type="password" id="password2" name="password2"
                                            required>
                                    </div>


                                    <button class="btn btn-success btn-block">Změnit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <script src="/js/formValidation.js"></script>