.nav-icons {
    color: black !important;
    margin: auto;
    text-align: center;
    text-decoration: none;
    .card-img-top {
        margin: auto;
    }
    .card-title,h5 {
        text-decoration: underline black !important;
    
    }
}

.card-text {
    
        text-decoration: underline black !important;
    
}
