.card-img-top{
    max-width: 200px;
}

.card-link{
    text-decoration: none;
    
    &:hover{
        color: magenta !important;
    }
}
.nav-form-login{
    left: -150px !important;
}

.custom-sidebar{
    height: 100vh;
}

.rollable{
    max-height: 300px ;
    overflow-y: scroll;
}