<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/js/steptwo.css">

        <% if (previewData){ %>
            <div id="root"></div>
            <script type='text/javascript'>
                const userFromServer =<%-JSON.stringify(previewData)%>
              </script>

            <% } %>


<script src="/js/steptwo.js"></script>