<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/js/duplicityStepTwo.css">
  
  <div id="root"></div>

  <% if (previewData){ %>

    <script type='text/javascript'>
      const userFromServer =<%- JSON.stringify(previewData) %>

    </script>

    <% } else { %>
      <script type='text/javascript'>
        const userFromServer = <%= false %>
  
      </script>
      <% } %>


      <script src="/js/duplicityStepTwo.js"></script>