<% layout('layouts/boilerplate')%>
<!--     <link rel="stylesheet" href="/js/dropzone/dropzone.min.css"> -->
    <div class="text-center justify-content-center">
        <div id="root"></div>


    </div>

    <script src="/js/duplicityStepOne.js"></script>