<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/js/steptwo.css">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% if (previewData){ %>
            <div id="root"></div>
            <script type='text/javascript'>
                const userFromServer =<%-JSON.stringify(previewData)%>
              </script>

            <% } %>
    </div>

<script src="/js/steptwo.js"></script>